<h1>All Plots</h1>
<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
  <h3>Plot number: <%= plot.number %></h3>
  <h5>Plants: </h5>
    <% plot.plot_plants.each do |plot_plant| %>
      <div id="plant-<%= plot_plant.plant_id %>">
       <h5><%= plot_plant.plant.name %> - <%= link_to "Remove", plot_plant , method: "delete" %></h5>
       </div>
    <% end %>
    </div>
  <% end %>
